<mat-tab-group mat-stretch-tabs class="example-stretched-tabs mat-elevation-z4">
    <mat-tab label="Легкові">
      <div >
      <app-car></app-car>
    </div>
    </mat-tab>
    <mat-tab  label="Електро"> 
      <div class="blok">Вибачте, даний розділ на стадії розробки.</div>
    </mat-tab>
    <mat-tab label="Мото">
      <div class="blok">Вибачте, даний розділ на стадії розробки.</div>
    </mat-tab>
    <mat-tab label="Автобуси">
      <div class="blok">Вибачте, даний розділ на стадії розробки.</div>
    </mat-tab>
    <mat-tab label="Вантажні">
      <div class="blok">Вибачте, даний розділ на стадії розробки.</div>
    </mat-tab>
</mat-tab-group>


